@import '~@business/style/mixmin.less';

.listLayout {
  border-radius: 8px;
  overflow: hidden;
  .shadow();

  .headerWrap {
    padding: 10px 20px;
    background-image: linear-gradient(270deg, #fff 10%, #f2f1fd 98%);

    .headerImg {
      height: 20px;
    }
  }

  .listBox {
    padding: 20px;
    background-color: #fff;
  }
}
